@model IEnumerable<TrackingTime.Models.TimeActivity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table export">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Duration
        </th>
    
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                     @item.FinishDateTime.Subtract(item.StartDateTime).ToString("g")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TimeActivityId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TimeActivityId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TimeActivityId })
                </td>
            </tr>
        }
    </tbody>
</table>
